*{
	box-sizing: border-box;
}

html, body{
	height:  100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

h1{
	margin: 1rem 0;
}

section{
	border-bottom:  1px solid #000;
}

.wrapper{
	max-width: 600px;
	margin: 0 auto;

}

section:last-of-type{
	border-bottom: none;
}


.green{
	background: green;
	float: left;

}

.red{
	background: red;
	float: left;
}

.col {
	height: 100px;
	width: 100px;



}
.row{
	background: yellow;
}


.green{
	width: 100px;
	hight: 100px;
}




.clearfix::after{
	content: "huhu";
	display: block;
	width: 100%;
	clear: both;
}

.clear{

}

.container{
	background: lightblue;
}
